/*
  This applies a light CSS reset to all elements on the page.
  It sets the font for everything to the custom font linked to
  in the page header as well.
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: ff-tisa-web-pro, serif;
}

body {
	background: url("assets/mason-teaching.jpg");
	background-size: cover;
	vertical-align: top;
}

.subheader {
	height: 100px;
	width: 100%;
	background-color: rgb(51, 51, 51);
	position: absolute;
	top: 0px;
	left: 0px;
	border-bottom: 2px dotted white;
}

.header {
	height: 100%;
	width: 22%;
	position: relative;
	bottom: 70px;
	margin-top: 50px;
	display: inline-block;
}

.content {
	display: inline-block;
	position: relative;
	left: 25px;
	width: 74%;
	bottom: -163px;
	background-color: white;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
}

.course-title {
	display: inline-block;
	top: 50%;
  	position: relative;
  	transform: translateY(-50%);
  	margin-left: 50px;
  	font-size: 50px;
  	color: white;
}

.subheader-links {
	display: inline-block;
	top: 50%;
  	position: relative;
  	transform: translateY(-50%);
    margin-right: 50px;
    float: right;
    font-size: 20px;
    color: white;
}

a.subheader-link {
	padding-right: 20px;
	color: white;
	text-decoration: none;
}

.logo-image {
	height: 100px;
	width: 125px;
}

.header-link {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	height: 70px;
	background-color: white;
	border-top: 2px dotted black;
	line-height: 70px;
}

a.header-link {
	text-decoration: none;
	color: black;
	font-size: 20px;
	top: 50%;
  	position: relative;
  	transform: translateY(-50%);
  	padding-left: 20px;
}

a.header-logo.header-link {
	background: transparent;
	border: none;
	text-align: center;
	padding: 0px;
}

.header-links-left {
	margin-top: 50px;
}

.header-links-right>a:nth-of-type(1) {
  display: none;
}

.header-links-right>a:nth-of-type(2) {
  display: none;
}

.header-links-right>a:nth-of-type(3) {
  display: none;
}

.header-links-right>a:nth-of-type(4) {
  background-color: rgb(56, 30, 30);
  opacity: .7;
  border-bottom: 2px dotted black;
  color: white;
}

.tagline {
	font-weight: bold;
	font-style: italic;
	font-size: 28px;
	margin-bottom: 30px;
}

.body-content {
	margin-top: 18px;
	font-size: 20px;
	line-height: 36px;
}

.key-item {
	display: inline-block;
	height: 100px;
	width: 40%;
	position: relative;
}

.key-image {
	display: inline-block;
}

.key-text {
	display: inline-block;
	top: -50%;
  	position: relative;
}

.key-item:nth-child(even) img {
	position: relative;
	left: 460px;
	bottom: 0px;
}

.key-item>div:nth-of-type(even) {
	margin-left: 100px;
}

.key-text:nth-child(2) {
	position: relative;
	left: 0px;
}

.key-item:nth-child(even) {

}







